
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-row {
   display: flex;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.caro-size {
   margin: 0 auto;
   width: 65vw;
}

a,
a:visited,
a:link,
a:hover  {
   color: black;
}

/* NAV & HEADER STYLES ================== */

#logo {
  width: 5%;
}

.ui.menu {
   border-radius: 0;
}

/* CITY CONTAINER STYLES ================== */

.city-box {
   background-color: rgba(235, 234, 235, 1);
   border-radius: 1em;
   padding: .8em;
   margin: .5em 0 0 1em;
   transition: all ease 400ms;
}

.city-box:hover {
   background-color: rgba(191, 101, 12, .7);
}

.city-box img {
   padding: 0 2em 0 1em;
}

.city-box h2 {
   font-size: 2.2em;
   align-self: center;
   text-align: left;
   margin: 0;
}

.city-box img {
   height: 100px;
   width: 192px;
}

.nav-text-logo {
   height: 56px;
}

/* POST CONTAINER STYLES ================== */

.post-box {
   border: 2px solid rgba(191, 101, 12, .7);
   border-radius: 1em;
   padding: .8em;
   margin: 0 .5em .5em 0;
   text-align: left;
}

.post-box h2, .post-box h4 {
   margin: 0;
}

.avatar-size {
   height: 3em;
}

.button-color {
   color: #b96208;
   text-align: right;
   padding-bottom: 1.2em;
   /* display: flex; */
   /* width: 94%; */
   left: 4em;
   /* flex-direction: row-reverse; */
}

i.huge.icon {  
   display: flex;
   width: 94%;
   flex-direction: row-reverse;
}

.post-title {
   font-size: 1.5em;
   font-weight: 400;
   margin: 0;
   padding-right: 1em;
   text-transform: uppercase;
}

.post-box img {
   width: 2em;
}

.post-header, .post-header i {
   display: inline-block;
}
/* PROFILE CONTAINER STYLES ================== */

.profile-box {
   background-color: #bf660b;
   text-align: center;
   height: calc(100vh - 56px);
}

.profile-box .ui.card {
   margin: 1em auto;
   -webkit-box-shadow: 8px 9px 17px 3px #7c4005, 0 0 0 1px #bf650c;
           box-shadow: 8px 9px 17px 3px #7c4005, 0 0 0 1px #bf650c;
}
