body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#logo {
  width: 5%;
}

.ui.menu {
   border-radius: 0;
}

.caro-size {
   margin: 0 auto;
   width: 65vw;
}

.city-box {
   background-color: #dedede;
   border-radius: 1em;
   padding: .8em;
}

.city-box img {
   padding: 0 2em 0 1em;
}

.city-box h2 {
   font-size: 2.2em;
   align-self: center;
   margin: 0;
}

.city-box img {
   height: 100px;
}

.flex-row {
   display: flex;
}
